<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
    <title>Menu Inicial</title>
    <style>
        body{
            background-color:#63989d;
            }
    </style>
</head>
<body>
    <header>
        <h3>Este é o inicio de nossa aprendizagem, take easy e vá com calma, de acordo com seu tempo. <br />
            Se você não fizer isso, vai atropelar as coisas e será ainda mais dificil.<br />
            Aproveite sua jornada!<br /><br />
        </h3>
    </header>
    <p>Por hora é isso, vamos habilitando outras coisas? Só assim chegaremos ao ponto de mexer nas views de cliente e produto!</p>
</body>